<section>
    <h1 class="text-center my-3">Bem-vindo à Agência de Viagens!</h1>
</section>

<body>
    
    <div class="container">
        
        
        <div class="row justify-content-center"> 
            
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Plano França</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">R$: 569,99</h6>
                        <p class="card-text">Viaje para a França com o melhor custo-benefício, aproveite passeios incríveis e descubra a cultura francesa!</p>
                    </div>
                </div>
            </div>
            
            
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Plano Itália</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">R$: 799,99</h6>
                        <p class="card-text">Explore as maravilhas da Itália, com pacotes para Roma, Veneza e Florença. Viva a história e a gastronomia italiana!</p>
                    </div>
                </div>
            </div>
            
            
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Plano Japão</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">R$: 999,99</h6>
                        <p class="card-text">Descubra o Japão! Uma viagem inesquecível com visitas a Tóquio, Quioto e muito mais. Conheça a cultura milenar japonesa.</p>
                    </div>
                </div>
            </div>
        </div> 

        
        <div class="row justify-content-center">
            
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Plano Egito</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">R$: 450,00</h6>
                        <p class="card-text">Explore as pirâmides do Egito, viva a história antiga e conheça os segredos das civilizações passadas.</p>
                    </div>
                </div>
            </div>
            
            
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Plano Nova Zelândia</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">R$: 1.299,99</h6>
                        <p class="card-text">Aventura e natureza esperam por você na Nova Zelândia. Trilhas, paisagens deslumbrantes e cultura local.</p>
                    </div>
                </div>
            </div>
            
            
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Plano Austrália</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">R$: 1.100,00</h6>
                        <p class="card-text">Conheça a incrível fauna e flora da Austrália, faça safáris e explore as maravilhas naturais do continente.</p>
                    </div>
                </div>
            </div>
        </div> 

       
        <div class="row justify-content-center">
            
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Plano Portugal</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">R$: 699,99</h6>
                        <p class="card-text">Descubra a beleza de Portugal! Cidades históricas, vinhos renomados e uma gastronomia única.</p>
                    </div>
                </div>
            </div>
            
            
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Plano Estados Unidos</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">R$: 1.499,99</h6>
                        <p class="card-text">Visite as principais cidades dos EUA: Nova York, Los Angeles e muito mais. Diversão garantida!</p>
                    </div>
                </div>
            </div>
            
            
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Plano Tailândia</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">R$: 899,99</h6>
                        <p class="card-text">A Tailândia oferece praias paradisíacas, templos antigos e uma cultura rica. Uma viagem para todos os gostos!</p>
                    </div>
                </div>
            </div>
        </div> 

    </div> 
</body>
